<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="off"
      internalLogFile="c:\temp\internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="basePath" value="${basedir}\Logs" />

  <!-- the targets to write to -->
  <targets>
    <!-- async:https://github.com/NLog/NLog/wiki/AsyncWrapper-target -->
    <!-- 记录所有日志  -->
    <target xsi:type="File" name="allfile" fileName="${basePath}\All\${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

    <!-- 仅记录自己的日志（不包含微软的Trace和Info） -->
    <target xsi:type="File" name="ownfile-web" fileName="${basePath}\Own\All\${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

    <!-- 仅记录自己的错误日志（Action异常） -->
    <target xsi:type="File" name="ownfile-error-web" fileName="${basePath}\Own\Error\${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

    <!-- 仅记录自己的致命错误日志（未处理异常） -->
    <target xsi:type="File" name="ownfile-fatal-web" fileName="${basePath}\Own\Fatal\${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!-- level: Trace Debug Info Warn Error Fatal -->
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />
    
    <!--Skip 非关键性 Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxLevel="Info" final="true" />
    
    <logger name="*" minlevel="Trace" writeTo="ownfile-web" />

    <logger name="*" minLevel="Error" maxLevel="Error" writeTo="ownfile-error-web" />

    <logger name="*" minLevel="Fatal" writeTo="ownfile-fatal-web" />
  </rules>
</nlog>