/* You can add global styles to this file, and also import other style files */
@import "assets/css/AdminLTE-custom/AdminLTE.scss";
@import "~primeng/resources/primeng.min.css";
@import "assets/css/primeng-theme/nova-light/theme.scss";
@import "~primeicons/primeicons.css";
@import "~font-awesome/css/font-awesome.min.css";

.ant-row{
    margin-bottom: 10px !important;
}

.ant-spin-container{
    height: 100%;
}

nz-spin{
    height: 100%;
}

.anticon{
    vertical-align: .125em !important;
}